  <div class="container-fluid">
    <div class="navbar-footer">
<footer class="footer">
  <b>
    Made by Lukachynets Vasyl
  </b>
  <nav>
    <ul>
      <li><%= link_to "I need help",   '#', class: "btn btn-info"%></li>
      <li><%= link_to "Contact us", '#', class: "btn btn-info"%></li>
    </ul>
  </nav>
</footer>
</div>
</div>
