<div class="footer">
      <div class="container">
              <i>Was made by V.Lukachynets</i>
              <a href='#'>
               <i class="fa fa-twitch fa-3x fa-fw"></i>
              </a>
              <a href='#'>
               <i class="fa fa-facebook fa-3x fa-fw"></i>
              </a>
              <a href='#'>
               <i class="fa fa-twitter fa-3x fa-fw"></i>
              </a>
              <a href='#'>
               <i class="fa fa-youtube-play fa-3x fa-fw"></i>
              </a>
              <a href='#'>
               <i class="fa fa-rss fa-3x fa-fw"></i>
              </a>
              <a href='#'>
               <i class="fa fa-vine fa-3x fa-fw"></i>
              </a>
            </span>
      </div>
      <i class="copyright copyright-3x copyright-fw">© 2017 All rigths recieved</i>
</div>
