<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
 
    <footer class="footer">
      <div class="container">
          <h3>Was made by V.Lukachynets</h3>
 <ul class="social-icon animate pull-right">
                  <li><a href="http://facebook.com" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> 
                  <li><a href="https://twitter.com" title="twitter" target="_blank"><i class="fa fa-twitter">
                  </i></a></li>
</ul>
</div>
</footer>
